body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('/static/img/plantilla_inicio.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; /* Centra horizontal y verticalmente */
    min-width: 100%;
    min-height: 100%;
}
.boton {
    width: 430px; /* Ancho del cuadro */
    height: 310px; /* Altura del cuadro */
    background-color: transparent; /* Color de fondo verde */
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}

.boton a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.oculto {
    width: 0;
    height: 0;
    overflow: hidden;
}

