*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/img/plantilla_ganador.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    background-position: center;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 11rem;
    left: 61rem;
}

#result {
    font-size: 3rem;
    color: white;
    top: 15.8rem;
    position: relative;
    padding: 0.5rem;
    right: -26rem;
    width: 21rem;
    white-space: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: bold;
}

#wheelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem; /* Cambié a unidades rem */
}

.wheel {
    display: inline-block;
    font-size: 14.13rem;
    width: 15.69rem;
    height: 23.69rem;
    text-align: center;
    margin: 0.375rem 3.9rem;
    overflow: hidden;
    position: relative;
    top: 12.5rem;
}

.digit1, .digit2, .digit3, .digit4 {
    position: absolute;
    display: block;
    text-align: center;
    width: 14.75rem;
    height: 22.06rem;
}

.digit1 div, .digit2 div, .digit3 div, .digit4 div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%; /* Mantuve esta en unidades absolutas porque depende de la imagen de fondo */
}

/* Cambiar el tamaño de las imágenes dentro de .digit */
.digit img {
    width: 16.5rem; /* Cambié a unidades rem */
    height: auto;
}

#lotteryContainer {
    font-size: 1.5rem; /* Cambié a unidades rem */
    text-align: center;
}

.lottery-text {
    font-size: 2.25rem; /* Cambié a unidades rem */
    font-weight: bold;
    text-transform: uppercase;
    transform: none;
    transition: none;
}

.lotteries-container {
    position: relative;
    top: 14.67rem; /* Cambié a unidades rem */
}


button#spin-button img.logo {
    width: 5.44rem; /* Cambié a unidades rem */
    height: auto;
}

#number-of-numbers {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    top: 10.3rem;
    right: -14.95rem;
    color: white;
    background-color: #c5a920;
    width: 12.75rem;
    height: 3.25rem;
    border-radius: 0.625rem;
}
