/* style.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('/static/img/plantilla_ganador.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 1370px 650px;
    background-position: center;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 5rem;
    left: 43.5rem;
}

#result {
    font-size: 2rem;
    color: white;
    top: 8.8rem;
    position: relative;
    padding: 0.5rem;
    right: -18rem;
    width: 17rem;
    white-space: nowrap;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#wheelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem; /* Cambié a unidades rem */
}

.wheel {
    display: inline-block;
    font-size: 14.13rem;
    width: 13.69rem;
    height: 16.69rem;
    text-align: center;
    margin: 0.375rem 1.9rem;
    overflow: hidden;
    position: relative;
    top: 6.5rem;
}

.digit1, .digit2, .digit3, .digit4 {
    position: absolute;
    display: block;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.7s cubic-bezier(0.7);
    transform: translateY(0.0625rem);
    text-align: center;
    align-items: center;
    width: 13.75rem;
    height: 16.06rem;
}

.digit1 div, .digit2 div, .digit3 div, .digit4 div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Mantuve esta en unidades absolutas porque depende de la imagen de fondo */
}

#lotteryContainer {
    font-size: 1.5rem; /* Cambié a unidades rem */
    text-align: center;
}

.lottery-text {
    font-size: 2.25rem; /* Cambié a unidades rem */
    font-weight: bold;
    text-transform: uppercase;
    transform: none;
    transition: none;
}

.lotteries-container {
    position: relative;
    top: 14.67rem; /* Cambié a unidades rem */
}

/* Cambiar el tamaño de las imágenes dentro de .digit */
.digit img {
    width: 12.5rem; /* Cambié a unidades rem */
    height: auto;
}

button#spin-button img.logo {
    width: 3.44rem; /* Cambié a unidades rem */
    height: auto;
}

#number-of-numbers {
    position: relative;
    top: 6.3rem;
    right: -9.95rem;
    color: white;
    background-color: #c5a920;
    width: 9.75rem;
    height: 3.25rem;
    border-radius: 0.625rem;
}



/* Regla de medios para pantallas con una anchura de 1501px a 1920px */
@media screen and (min-width: 1501px) and (max-width: 1920px) {
    body {
        background-size: 100%;
    }
}

/* Regla de medios para pantallas con una anchura de más de 1920px */
@media screen and (min-width: 1921px) {
    body {
        background-size: 100%;
    }
}